<% if @error %>
<p> The product was not saved. Please include required fields name and address.</p>
<%end%>

<h1> Edit Store </h1>
 
<p><strong>Edit any fields that need updating and hit submit.</strong></p>
<p>Here are the current store details. </p>
   
<form action="/save_store">
  
  
    <!-- <p> Choose a product to edit : <select name="id"></p>
      <% Product.all.each do |product| %>
      <option value="<%= product.id %>"> <%= product.name %>  </option>
      <% end %>
      </select> -->
  
      <p> New Store Name : <input type="text" placeholder="" name="name" value=" <%=@location.name%>"></p>
      <p> New Product Address : <input type="text" placeholder="" name="address" value=" <%=@location.address%>"></p>

      <input type="hidden" name= "id" value="<%=@location.id%>">
<p> <input type="submit" value="submit changes"></p>
</form>

<a href="/home">Return to main menu?</a>