<%=@product_instance.name%> Updated! 

<a href="/home">Return to main menu?</a>

<p>Name: <%=@product_instance.name%> - Brand: <%=@product_instance.brand%> - Category: <%=@product_instance.category_id%> - Location: <%=@product_instance.location_id%> Quantity: <%=@product_instance.quantity%>  