To edit a product, choose product name. Enter any new fields that need updating. If no new info, leave blank. 
   
<form action="/edit_save">
  <p> Choose a product to edit : <select name="id"></p>
    <% Product.all.each do |product| %>
    <option value="<%= product.id %>"> <%= product.name %>  </option>
    <% end %>
  </select>
  
  <p> New Product Name : <input type="text" placeholder="Product Name" name="name"></p>
  <p> New Product Brand : <input type="text" placeholder="Product Brand" name="brand"></p>
  <p> New Category: <select name="category_id"></p>
    <option></option>
    <% Category.all.each do |category| %>
    <option value="<%= category.id %>"> <%= category.name %> </option>
    <% end %>
  </select>
      
  <br>
  <p> Quantity in Stock: <input type="number" placeholder="Quantity in Stock" name="quantity"></p>
     
  <p> New Location: <select name="location_id"></p>
    <option></option>
    <% Location.all.each do |location| %>
    <option value="<%= location.id %>"> <%= location.name %> </option>
    <% end %>
  </select>
      
  <p> <input type="submit" value="edit product"></p>
</form>

 
 
 